# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SOFLE_DONGLE_CENTRAL
    def_bool $(shields_list_contains,sofle_dongle_central)

config SHIELD_SOFLE_DONGLE_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,sofle_dongle_peripheral_left)

config SHIELD_SOFLE_DONGLE_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,sofle_dongle_peripheral_right)
