/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <physical_layouts.dtsi>

/ {
    default_layout: keymap_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys =
            // Top row: Q W E R T Y U I O P + mods (0-11)
            <&key_physical_attrs  100  100     0   131 (-1200)     0   131>
            , <&key_physical_attrs  100  100    97   110 (-1200)    97   110>
            , <&key_physical_attrs  100  100   210    37 (-600)   210    37>
            , <&key_physical_attrs  100  100   333     0      0     0     0>
            , <&key_physical_attrs  100  100   432    25      0     0     0>
            , <&key_physical_attrs  100  100   532    50      0     0     0>
            , <&key_physical_attrs  100  100   975    50      0     0     0>
            , <&key_physical_attrs  100  100  1075    25      0     0     0>
            , <&key_physical_attrs  100  100  1174     0      0     0     0>
            , <&key_physical_attrs  100  100  1297    37    600  1297    37>
            , <&key_physical_attrs  100  100  1410   110   1200  1410   110>
            , <&key_physical_attrs  100  100  1507   131   1200     0   131>
            // Home row: A S D F G H J K L ; ' + mods (12-23)
            , <&key_physical_attrs  100  100    20   229 (-1200)    20   229>
            , <&key_physical_attrs  100  100   118   208 (-1200)   118   208>
            , <&key_physical_attrs  100  100   220   136 (-600)   220   136>
            , <&key_physical_attrs  100  100   333   100      0     0     0>
            , <&key_physical_attrs  100  100   432   125      0     0     0>
            , <&key_physical_attrs  100  100   532   150      0     0     0>
            , <&key_physical_attrs  100  100   975   150      0     0     0>
            , <&key_physical_attrs  100  100  1075   125      0     0     0>
            , <&key_physical_attrs  100  100  1174   100      0     0     0>
            , <&key_physical_attrs  100  100  1287   136    600  1287   136>
            , <&key_physical_attrs  100  100  1389   208   1200  1389   208>
            , <&key_physical_attrs  100  100  1487   229   1200  1487   229>
            // Bottom row: Z X C V B N M , . / + mods (24-35)
            , <&key_physical_attrs  100  100    41   326 (-1200)    41   326>
            , <&key_physical_attrs  100  100   139   305 (-1200)   139   305>
            , <&key_physical_attrs  100  100   231   235 (-600)   231   235>
            , <&key_physical_attrs  100  100   333   200      0     0     0>
            , <&key_physical_attrs  100  100   432   224      0     0     0>
            , <&key_physical_attrs  100  100   532   249      0     0     0>
            , <&key_physical_attrs  100  100   975   249      0     0     0>
            , <&key_physical_attrs  100  100  1075   224      0     0     0>
            , <&key_physical_attrs  100  100  1174   200      0     0     0>
            , <&key_physical_attrs  100  100  1276   235    600  1276   235>
            , <&key_physical_attrs  100  100  1368   305   1200  1368   305>
            , <&key_physical_attrs  100  100  1466   326   1200  1466   326>
            // Thumb cluster: Thumb keys/modifiers (36-41)
            , <&key_physical_attrs  100  100   432   382      0     0     0>
            , <&key_physical_attrs  100  100   538   391   1200   538   391>
            , <&key_physical_attrs  100  100   638   423   2400   638     0>
            , <&key_physical_attrs  100  100   869   423 (-2400)   869     0>
            , <&key_physical_attrs  100  100   969   391 (-1200)   969   391>
            , <&key_physical_attrs  100  100  1075   382      0     0     0>;
    };
};
