/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "MAIN";
            // -----------------------------------------------------------------------------------------
            // | TAB  |  Q  |  W  |  E  |  R  |  T  | VOL+ | VOL+ |  Y  |  U  |  I  |  O  |  P  | BSPC |
            // | ESC  |  A  |  S  |  D  |  F  |  G  | VOL- | VOL- |  H  |  J  |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |              |  N  |  M  |  ,  |  .  |  /  | SHFT |
            //                    | ALT | LY1 | SPC |              | RET | LY2 | ALT |
            bindings = <
&mt LGUI TAB    &kp Q           &kp W           &kp E           &kp R           &kp T           &kp C_VOL_UP    &kp C_VOL_UP    &kp Y           &kp U           &kp I           &kp O           &kp P           &kp BSPC
&mt LCTRL ESC   &kp A           &kp S           &kp D           &kp F           &kp G           &kp C_VOL_DN    &kp C_VOL_DN    &kp H           &kp J           &kp K           &kp L           &kp SEMI        &mt RCTRL SQT
&kp LSHFT       &kp Z           &kp X           &kp C           &kp V           &kp B                                           &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &kp RSHIFT
                                                &kp LALT        &mo 1           &kp SPACE                                       &kp RET         &mo 2           &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        symbols_layer {
            display-name = "SYMBOLS";
            // -----------------------------------------------------------------------------------------
            // | GRV  |  !  |  @  |  #  |  $  |  %  |       |       |  ^  |  &  |  *  |  (  |  )  |     |
            // |      | VOL-| MUTE| VOL+| GRV |  =  |       |       |  -  |  [  |  ]  |     | PRSC|     |
            // |      | PREV| PP  | NEXT|  ~  |  +  |               |  _  |  {  |  }  |     |  \  |  |  |
            //                    |     | LY3 |     |               |     |     |     |
            bindings = <
&kp GRAVE       &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT       &trans          &trans          &kp CARET       &kp AMPS        &kp ASTRK       &kp LPAR        &kp RPAR        &trans
&trans          &kp C_VOL_DN    &kp C_MUTE      &kp C_VOL_UP    &kp GRAVE       &kp EQUAL       &trans          &trans          &kp MINUS       &kp LBKT        &kp RBKT        &none           &kp PSCRN       &kp DELETE
&trans          &kp C_PREV      &kp C_PP        &kp C_NEXT      &kp TILDE       &kp PLUS                                        &kp UNDER       &kp LBRC        &kp RBRC        &none           &kp BSLH        &kp PIPE
                                                &trans          &trans          &trans                                          &trans          &mo 3           &trans
            >;
        };

        numbers_layer {
            display-name = "NUMBERS";
            // -----------------------------------------------------------------------------------------
            // |  ~   |  1  |  2  |  3  |  4  |  5  |       |       |  6  |  7  |  8  |  9  |  0  |     |
            // |      |     |     |     |     |     |       |       | LFT | DWN |  UP | RGT |     |     |
            // |      |     |     |     |     |     |               | HOME| PGDN| PGUP| END |  \  |  |  |
            //                    |     |     |     |               |     | LY3 |     |
            bindings = <
&kp TILDE       &kp N1          &kp N2          &kp N3          &kp N4          &kp N5          &trans          &trans          &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &trans
&trans          &none           &none           &none           &none           &none           &trans          &trans          &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &none           &kp DELETE
&trans          &none           &none           &none           &none           &none                                           &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         &kp BSLH        &kp PIPE
                                                &trans          &mo 3           &trans                                          &trans          &trans          &trans
            >;
        };

        fcodes_layer {
            display-name = "FCODES";
            // -----------------------------------------------------------------------------------------
            // | F12  | F1  | F2  | F3  | F4  | F5  |       |       | F6  | F7  | F8  | F9  | F10 | F11 |
            // |      | BT0 | BT1 | BT2 | BT3 | BT4 |       |       | MLFT| MDN | MUP | MRGT|     |UNLCK|
            // |      |BTDC0|BTDC1|BTDC2|BTDC3|BTDC4|               | LCLK| MCLK| RCLK|     |     |     |
            //                    |     |     |     |               |     |     |     |
            bindings = <
&kp F12         &kp F1          &kp F2          &kp F3          &kp F4          &kp F5          &trans          &trans          &kp F6          &kp F7          &kp F8          &kp F9          &kp F10         &kp F11
&trans          &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &trans          &trans          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP    &mmv MOVE_RIGHT &none           &studio_unlock
&trans          &bt BT_DISC 0   &bt BT_DISC 1   &bt BT_DISC 2   &bt BT_DISC 3   &bt BT_DISC 4                                   &mkp LCLK       &mkp MCLK       &mkp RCLK       &none           &none           &trans
                                                &trans          &trans          &trans                                          &trans          &trans          &mo 4
            >;
        };

        rgb_layer {
            display-name = "RGB";
            bindings = <
&trans          &rgb_ug RGB_EFR &rgb_ug RGB_TOG &rgb_ug RGB_EFF &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &rgb_ug RGB_BRD &rgb_ug RGB_TOG &rgb_ug RGB_BRI &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &rgb_ug RGB_HUD &rgb_ug RGB_TOG &rgb_ug RGB_HUI &trans          &trans                                          &trans          &trans          &trans          &trans          &trans          &trans
                                                &trans          &trans          &trans                                          &trans          &trans          &trans
            >;
        };

        extra_layer_1 {
            display-name = "EXTRA 1";
            bindings = <
&trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &trans          &trans          &trans          &trans          &trans                                          &trans          &trans          &trans          &trans          &trans          &trans
                                                &trans          &trans          &trans                                          &trans          &trans          &trans
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
&trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &trans          &trans          &trans          &trans          &trans                                          &trans          &trans          &trans          &trans          &trans          &trans
                                                &trans          &trans          &trans                                          &trans          &trans          &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
&trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &trans          &trans          &trans          &trans          &trans                                          &trans          &trans          &trans          &trans          &trans          &trans
                                                &trans          &trans          &trans                                          &trans          &trans          &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
&trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
&trans          &trans          &trans          &trans          &trans          &trans                                          &trans          &trans          &trans          &trans          &trans          &trans
                                                &trans          &trans          &trans                                          &trans          &trans          &trans
            >;
        };
    };
};
