# SPDX-License-Identifier: MIT

if SHIELD_XK42_LEFT || SHIELD_XK42_RIGHT

config ZMK_KEYBOARD_NAME
    default "XK42"

config ZMK_SPLIT
    default y

# Enable deep sleep
config ZMK_SLEEP
    default y

# Allow P1.00 (NFC pin) to be used as GPIO (Row 2)
config NFCT_PINS_AS_GPIOS
    default y

# Windows Battery Reporting Fix
config BT_GATT_ENFORCE_SUBSCRIPTION
    default n

# ImproveZMK Studio (alpha)
config ZMK_STUDIO
    default y

# Enable d connection stability
config ZMK_BLE_EXPERIMENTAL_CONN
    default y

# Enable RGB underglow
config ZMK_RGB_UNDERGLOW
    default y

config WS2812_STRIP
    default y

config ZMK_RGB_UNDERGLOW_BRT_MAX
    default 20

config ZMK_RGB_UNDERGLOW_HUE_START
    default 48

config ZMK_RGB_UNDERGLOW_SAT_START
    default 96

# Enable I2C for fuel gauge
config I2C
    default y

config SPI
    default y

endif

if SHIELD_XK42_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
