config SHIELD_XK42_DONGLE_CENTRAL
    def_bool $(shields_list_contains,xk42_dongle_central)

config SHIELD_XK42_DONGLE_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,xk42_dongle_peripheral_left)

config SHIELD_XK42_DONGLE_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,xk42_dongle_peripheral_right)
