name: Build Eyelash Sofle firmware

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - 'boards/arm/eyelash_sofle/**'
      - 'config/eyelash_sofle.*'
      - 'build_eyelash_sofle.yaml'
      - 'config/west.yml'
      - 'zephyr/**'
    tags:
      - 'build'
permissions:
  contents: write

jobs:
  draw:
    name: Draw Eyelash Sofle Keymap
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: read
    with:
      destination: artifact
      artifact_name: eyelash-sofle-keymap
      fail_on_error: true
      keymap_patterns: 'config/eyelash_sofle.keymap'
  build:
    name: Build Eyelash Sofle
    needs: draw
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      build_matrix_path: build_eyelash_sofle.yaml
      archive_name: eyelash-sofle-firmware
