name: Build Piantor Pro BT firmware

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - 'boards/arm/piantor_pro_bt/**'
      - 'config/piantor_pro_bt.*'
      - 'build_piantor.yaml'
      - 'config/west.yml'
      - 'zephyr/**'
    tags:
      - 'build'
permissions:
  contents: write

jobs:
  draw:
    name: Draw Piantor Keymap
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: read
    with:
      destination: artifact
      artifact_name: piantor-keymap
      fail_on_error: true
      keymap_patterns: 'config/piantor_pro_bt.keymap'
  build:
    name: Build Piantor Pro BT
    needs: draw
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      build_matrix_path: build_piantor.yaml
      archive_name: piantor-firmware
